::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f100;
}

::-webkit-scrollbar-track:hover {
    background: #d3d9dd;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #B9C4CE;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #97a0a8; 
}